<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.coals.lesson03.dao.RealEstateDAO">
 	
 	<select id="selectRealEstate" parameterType="int" resultType="com.coals.lesson03.model.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</select>
 
 	<select id="selectRentPriceList" parameterType="map" resultType="com.coals.lesson03.model.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
        <![CDATA[
        	`rentPrice` < #{rentPrice}
        ]]>
 	</select>
 	
 	<select id="selectAreaPriceList" parameterType="map" resultType="com.coals.lesson03.model.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`area` &gt; #{area}
 			AND
 			`price` &lt; #{price}
 		ORDER BY `id` DESC
 	</select>
 
 	<insert id="insertRealEstate" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 			, now()
 			, now()
 		)
 	</insert>
 
 	<update id="updateRealEstate" parameterType="map">
 		UPDATE `real_estate`
 		SET
 			`price` = #{price}
 			, `type` = #{type}
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteRealEstate" parameterType="int">
 		DELETE
 		FROM `real_estate`
 		WHERE
 			`id` = #{id}
 	</delete>
 
 </mapper>